html{
    background:rgba(172, 172, 13, 0.5);  
    display: flex;
}
body{
    margin:0;
    padding:0 2%;
}

#main{
    background:rgba(150, 150, 100, 1);
    width:100%;
    margin:0px auto;
    padding:0 2%;
    height: 100%;
}
#title{
    background:rgb(140, 140, 110);
    text-align: center;
}
#title h1{
    margin:0;
    font-size:2.5em;
}
#title p{
    margin-top:0;
}
#img-div{
    text-align: center;
    padding:2%;
}
#image{
    max-width: 100%; 
    display: block; 
    height: auto;
    margin:auto;
}
#img-caption{

}
#tribute-info{
    font-size: 1.2em;
}
#tribute-link{
 font-size: 1.2em;
}
#footer{
    background:rgb(140, 140, 110);
    text-align: center;
    width:100%;
}
#fcc-img{
    max-width:15%;
    min-width:150px;
}
li, h2{
    margin:auto;
    width:50%;
    background-color: rgb(179, 179, 120);
    box-shadow: 5px 5px rgb(78, 78, 54);
}
h2{padding-bottom:1em;}