html{
    background:rgba(223, 223, 146, 0.5);  
    display: flex;
}
body{
    margin:0;
    padding:0 2%;
}

#main{
    background:rgb(224, 224, 167);
    width:100%;
    margin:0px auto;
    padding:0%;
    height: 100%;
}
#title{
    background:rgb(179, 179, 120);
    text-align: center;
    padding:2em;
}
#title h1{
    margin:0;
    font-size:3.5em;
}
#title p{
    margin-top:0;
}
#img-div{
    text-align: center;
    padding:2%;
}
#image{
    max-width: 100%; 
    display: block; 
    height: auto;
    margin:auto;
}
#img-caption{
    font-size: 1.2em;
    font-style: italic;
}
#tribute-info{
    font-size: 1.2em;
}
#tribute-info p{
    width:90%;
    margin:5% auto;
}
#tribute-link{
 font-size: 1.2em;
}
#footer{
    background:rgb(179, 179, 120);
    text-align: center;
    padding:1em;
}
#fcc-img{
    max-width:15%;
    min-width:150px;
}
li, h2{
    margin:auto;
    width:50%;
    min-width:250px;
    background-color: rgb(211, 211, 143);
    box-shadow: 5px 5px rgb(163, 163, 113);
    list-style: none;
}
h2{padding-bottom:1em;}